*{
	margin: 0;
	padding: 0;
	width: 100%;
}

body{
	font: 14px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
	width: 900px;
	height: 100%;
	margin: 0 auto;
	background-image: linear-gradient(to bottom,#94aca8 40%,#907d60,#7c5c38);
	background-image: -webkit-linear-gradient(to bottom,#94aca8,#907d60,#7c5c38);
	background-size: cover;
	background-attachment: fixed;
}

.two{
	width: 100%;
	height: 500px;
	background: rgba(255,255,255,0.2);
}

.popular_person{
	width: 100%;
	margin-top: 20px;
	
}

.popular_title{
	width: 100%;
	height: 22px;
	margin-bottom: 10px;
	border-bottom: 2px solid #02a682;
}

.popular_title span:nth-child(1){
	width: 30%;
	float: left;
	font-size: 24px;
	line-height: 23px;
	font-family: "ו";
}

.popular_title span:nth-child(2){
	width: 5%;
	float: right;
}

.popular_img{
	margin: 20px auto;
	width: 150px;
}

.popular_content{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 30vh;
}

.popular_content img{
	width: 20vh;
	height: 20vh;
	border: 10px solid #fff;
}

.popular_name{
	width: 100%;
	height: 25px;
}

.popular_name a{
	text-decoration: none;
	color: #138a64;
	font-size: 21px;
	line-height: 25px;
	margin-left: 25px;
}

.popular_type{
	width: 100%;
	height: 25px;
}

.popular_type span{
	width: 100%;
	color: #999999;
	font-size: 14px;
	line-height: 25px;
	margin-left: 25px;
}
.content_1{
	width: 100%;
	margin-top: 20px;
	height: 550px;
}

.content_1 .title{
	width: 100%;
	height: 23px;
	margin-bottom: 20px;
	border-bottom: 2px solid #02a682;
}

.content_1 .title span:nth-child(1){
	font-size: 22px;
	line-height: 23px;
}


.content_1 .title span a{
	text-decoration: none;
	color: #999999;
	font-size: 17px;
	width: 90%;
}

.content_1 .title span:nth-child(7){
	width: 4%;
	float: right;
}
.content_1 .title span a:hover{
	color: #138a94;
	font-weight: bold;
}

.content .one{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.2);
}
.oneOf{
	margin-top: 10px;
	width:200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.album{
	margin-left: 20px;
}
.album img{
	width: 180px;
	height: 180px;
}

.songName{
	width: 100%;
	height: 25px;
	margin-left: 20px;
}

.songName a{
	text-decoration: none;
	color: #138a64;
	font-size: 21px;
	line-height: 25px;
}

.singer{
	width: 100%;
	height: 25px;
	margin-left: 20px;
}

.singer span{
	color: #999999;
	font-size: 15px;
	line-height: 25px;
}
@media screen and (max-width: 768px) {
	
}