#nav {
	position: fixed;
	width: 100%;
	height: 55px;
	z-index: 1;
	text-align: center;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
}

a {
	text-decoration: none;
}

#nav .first {
	width: 65px;
	height: 55px;
	/*background: red;*/
	position: absolute;
	left: 0;
	top: 0;
	border-right: 1px solid #eee;
}

#nav .first a {
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-family: 'iconfont';
}

#nav .first:hover {
	background: #ADFEDC;
}

.last {
	width: 65px;
	height: 55px;
	/*background: green;*/
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #E0E0E0;
}

.last a {
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-family: 'iconfont';
}

.last:hover {
	background:#ADFEDC;
}

@font-face {
	font-family: 'iconfont';
	src: url('../icon/iconfont.eot');
	src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../icon/iconfont.woff') format('woff'), url('icon/iconfont.ttf')
		format('truetype'), url('../icon/iconfont.svg#iconfont') format('svg');
}

.nav {
	width: auto;
	height: 55px;
	/*background: pink;*/
}

.nav-cen {
	width: auto;
	height: 55px;
}

.nav-cen ul {
	width: 30%;
	height: 55px;
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 35%;
	top: 0px;
	list-style:none;
}

.nav li { /*border: 1px solid red;*/
	margin: 0;
	width: 32%;
	height: 55px;
	float: left;
	text-align: center;
	border-right: 1px solid #E0E0E0;
	/*background: black;*/
}

.nav li a {
	height: 55px;
	display: block;
	color: white;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
}

.nav li a:hover {
	background: #00E3E3;
	font-size: 18px;
}